%btn {
    display: flex;
    padding: 16px 28px;
    justify-content: center;
    align-items: center;
    gap: 12px;
    border-radius: 8px;
    border: 1px solid var(--Gray-300, #D0D5DD);
    background: var(--Base-White, #FFF);

    /* Shadow/xs */
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);

    &:hover {
        transform: scale(.98);
    }
}

.btn-primary {
    @extend %btn;
    @include set-background(lighten($primary-color, 10%));
}

.btn-secondary {
    @extend %btn;
    @include set-background(lighten($secondary-color, 10%));
}