%btn {
    display: flex;
    padding: 10px 18px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-color: #027A48;

    &:hover {
        transform: scale(.98);
    }
}

.btn-primary {
    @extend %btn;
    @include set-background(lighten($primary-color, 10%));
}

.btn-secondary {
    @extend %btn;
    @include set-background(lighten($secondary-color, 10%));
}