@import "_config";
@import "_utilities";
@import "_buttons";


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: white;
    font-family: Satoshi;
    line-height: 1.6;
}

#main-header {
    display: flex;
    width: 1440px;
    height: 80px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;

    .navbar {
        display: flex;
        width: 1280px;
        padding: 0px 32px;
        justify-content: space-between;
        align-items: center;

        .logo {
            width: 40px;
            height: 40px;
            flex-shrink: 0;
        }

        .links {
            display: flex;
            align-items: center;
            gap: 32px;
            text-decoration: none;

            .links>li {
                text-decoration: none;
            }
        }
    }
}

#hero-section {
    display: flex;
    padding: 96px 0px;
    flex-direction: column;
    align-items: center;
    gap: 64px;
    align-self: stretch;

    .hero-container {
        display: flex;
        width: 1280px;
        padding: 0px 32px;
        flex-direction: column;
        align-items: center;
        gap: 32px;

        .hero-text-wrapper {
            display: flex;
            width: 1024px;
            flex-direction: column;
            align-items: center;
            gap: 24px;

            .badge-group {
                display: flex;
                padding: 4px 10px 4px 4px;
                align-items: center;
                gap: 12px;
            }
        }
    }
}

@import "_mobile"